/* Structure */
table {
    width: 100%;
    margin-top: 20px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  button {
      margin-right: 10px;
  }

  .toolbar {
      margin-bottom: 20px;
  }

  mat-sidenav {
    align-content: center;
    align-items: center;
  }

  .menu-button {
      margin-bottom: 20px;
      width: 150px;
  }

  .menu-logout-button {
    margin-top: 260px;
  }

  mat-form-field {
      margin-bottom: 10px;
  }