
  <mat-card>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      
      <h1>HR Projects</h1>

      <mat-form-field>
        <input matInput formControlName="username" placeholder="username">
      </mat-form-field>
      <span class="danger" *ngIf="!form.get('username').pristine && !form.get('username').value ">
        field is required</span>

      <br>
      <mat-form-field>
        <input matInput formControlName="password" placeholder="password" type="password">
      </mat-form-field>
      <span class="danger" *ngIf="!form.get('password').pristine && !form.get('password').value ">
        field is required</span>
      
      <br>
      <button mat-button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Log In</button>

    </form>
</mat-card>

